<div class="container">
  <h1>Our restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
    <li> <%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.address %> (<%= restaurant.phone_number %>)</li>
    <% end %>
  </ul>

  <%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
</div>
